
*{
    font-family: "Press Start 2p", cursive;
}
.detail-container {
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 10px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
  }
  .subtitle-container{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 30px;
    color: #f66b08;
  }
  .info-container{
    display: flex;
    justify-content: flex-start;
    left: 0;
    background-color: #e7e416;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .info-container-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
  }
  
  .layout-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .details{
    text-align: left;
    width: 50%;
    padding-left: 100px;
  }

  .subtitle{
    font-size: 20px;
  }


  .pokemon-name {
    font-size: 2rem;
    margin-top: 40px;
    margin-bottom: 35px;
    color: #ff0569;
    text-transform: uppercase;
  }
  
  .pokemon-image {
    height: 300px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .type-list, .ability-list, .stat-list {
    list-style-type: none;
    padding: 0;
  }
  
  .type-list li, .ability-list li, .stat-list li {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .navigation-buttons {
    margin-top: 20px;
  }
  
  .navigation-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navigation-buttons button:hover {
    background-color: #0056b3;
  }
  
  .Image-container{
    display: flex;
    flex-direction: column;
    height: 100%;
  }