
.gallery-container {
    text-align: center;
    margin-top: 20px;
    padding-top: 5px;
  }
*{
  font-family: "Press Start 2p", cursive;
}
  .type-filters {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  .type-button {
    margin-right: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .type-button.selected {
    background-color: lightblue;
  }
  
  .clear-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: lightcoral;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .clear-button:hover {
    background-color: crimson;
  }
  
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pokemon-card {
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
    background-color: rgba(255, 208, 0, 0.2);
        backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
        -webkit-backdrop-filter: blur(20px) saturate(160%);
  }
  
  .pokemon-card img {
    width: 100px;
    height: 100px;
  }
  
  .pokemon-card p {
    margin-top: 5px;
  }
  
  .pokemon-card:hover {
    transform: scale(1.1);
  }
  